.graphics/
.idea/
.hg/
.hgignore
.research/
.settings/
.kdev4/

bin/
obj/
out/
gen/
Debug/
Release/


*~
*.*~
*.kdev4
*.suo
*.sdf
*.opensdf
*.ipch
*.user
*.ipr
*.iws
.kate*
.project
.kdev_include_paths

local.properties
proguard.local.cfg

build.sh
gitcreate.sh
gitpush.sh
translate.sh
build/
.gradle/

*.cbp
*.suo
*.depend
*.layout
.project
.cproject
.classpath
*.workspace
*.workspace.*
*.tags
*.project
*.*~
*.workspace.*
*.tags
*.project
*.*~
*.session
cscope.*
cscope_file.*
*.suo
*.session
*.someone
cppcheck.*
*.iml
build.properties*.iml
./*.config
./*.creator*
./*.files
./*.includes
